/* Global */
body {
    font-family: 'Roboto', sans-serif;
}

/* NavBar */
.brand {
    width: 100px;
}

/* Hero Section */
.banner {
    width: 100%;
}

/* Inspiration Section */
.inspiration {
  font-family: 'Permanent Marker';
  background: linear-gradient(90deg, #35eab1 0%, #4890F1 35%, #0DCAF0 100%);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}

.random-word {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  width: auto;
/*   transition: all 1.25s; */
  animation: slidedown 4s infinite;
  -webkit-animation: slidedown 4s infinite;
  -moz-animation: slidedown 4s infinite;
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }
  
  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  
  7% {
    transform: translateY(-1em);
  }
  
  10% {
    opacity: 0;
  }
  
  20% {
    transform: translateY(0);
    opacity: 100;
  }
}

/* About Section */
.about-title {
    font-family: 'Permanent Marker';
    color: #4890F1;
}

/* Gradient Divider */
.gradient-divider {
    background: linear-gradient(90deg, #35eab1 0%, #4890F1 35%, #0DCAF0 100%);
    height: 1.5vh;
}

/* Theme Section */
.theme-title {
    font-family: 'Permanent Marker';
    color: #4890F1;
}
ul.no-bullets {
    list-style-type: none;
}

/* Speakers Sections*/
.speaker-title {
    font-family: 'Permanent Marker';
    color: #4890F1;
}
.speaker-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 250px;
}
.speakerMain-image {
    height: 248px;
    width: 248px;
    object-fit: cover;
    object-position: center top;
}
.speakerMain-imageBtm {
    height: 248px;
    width: 248px;
    object-fit: cover;
    object-position: center bottom;
}
.card-body { 
    height: 210px;
    background-color: black; 
}

/*Sponsors Section*/
.sponsor-title {
    font-family: 'Permanent Marker';
    color: #4890F1;
}
.sponsor-grid {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Footer */
.footer-link {
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 380px) {
    .brand {
        width: 80px;
    }
}
@media (max-width: 576px) {
    .sponsor-image {
        width: 95%;
    }
}
